In [1]:
#import dependencies 
import pandas as pd
import numpy as np
from IPython.display import clear_output
import matplotlib.pyplot as plt
from scipy import stats


#import csv's 
nba_seasons = "Seasons_Stats.csv"

In [3]:
#write csv's to data frames 
nba_seasons_df = pd.read_csv(nba_seasons)

In [4]:
#take data frame and create new data frame with these columns
clean_df = nba_seasons_df[{'Year', 'Player','G', 'FG', 'TRB', 'Tm',
       'AST', 'STL', 'BLK', 'PTS',"Pos"}]


#drop all nan values- for purpose of comparison 
datax = clean_df.dropna()
datax.head()

,TRB,STL,Pos,G,Player,Year,PTS,BLK,Tm,AST,FG
3851,923.0,80.0,C,79.0,Zaid Abdul-Aziz,1974.0,865.0,104.0,HOU,166.0,336.0
3852,1178.0,112.0,C,81.0,Kareem Abdul-Jabbar*,1974.0,2191.0,283.0,MIL,386.0,948.0
3853,448.0,110.0,SF,74.0,Don Adams,1974.0,759.0,12.0,DET,141.0,303.0
3854,69.0,36.0,PG,55.0,Rick Adelman,1974.0,182.0,1.0,CHI,56.0,64.0
3855,291.0,137.0,PG,72.0,Lucius Allen,1974.0,1268.0,22.0,MIL,374.0,526.0

In [5]:
#remove rows for players before 1980
df_1980 = datax[datax['Year'] >= 1980] 
df_1980.head()

,TRB,STL,Pos,G,Player,Year,PTS,BLK,Tm,AST,FG
5727,886.0,81.0,C,82.0,Kareem Abdul-Jabbar*,1980.0,2034.0,280.0,LAL,371.0,835.0
5728,191.0,35.0,PF,67.0,Tom Abernethy,1980.0,362.0,12.0,GSW,87.0,153.0
5729,609.0,108.0,C,75.0,Alvan Adams,1980.0,1118.0,55.0,PHO,322.0,465.0
5730,197.0,106.0,PG,80.0,Tiny Archibald*,1980.0,1131.0,10.0,BOS,671.0,383.0
5731,115.0,12.0,C,26.0,Dennis Awtrey,1980.0,86.0,15.0,CHI,40.0,27.0

In [6]:
#remove row for players after 2010
df_2010 = df_1980[df_1980['Year'] <= 2010] 
df_2010.head()

,TRB,STL,Pos,G,Player,Year,PTS,BLK,Tm,AST,FG
5727,886.0,81.0,C,82.0,Kareem Abdul-Jabbar*,1980.0,2034.0,280.0,LAL,371.0,835.0
5728,191.0,35.0,PF,67.0,Tom Abernethy,1980.0,362.0,12.0,GSW,87.0,153.0
5729,609.0,108.0,C,75.0,Alvan Adams,1980.0,1118.0,55.0,PHO,322.0,465.0
5730,197.0,106.0,PG,80.0,Tiny Archibald*,1980.0,1131.0,10.0,BOS,671.0,383.0
5731,115.0,12.0,C,26.0,Dennis Awtrey,1980.0,86.0,15.0,CHI,40.0,27.0

In [7]:
#ensure that we have data for all relevent fields
df_2010.count()

TRB       14743
STL       14743
Pos       14743
G         14743
Player    14743
Year      14743
PTS       14743
BLK       14743
Tm        14743
AST       14743
FG        14743
dtype: int64

In [8]:
#add new column names 

for newcol in ['O_Index','D_Index','Overall_Index']:
    df_2010[newcol]=0
    
df_2010.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,TRB,STL,Pos,G,Player,Year,PTS,BLK,Tm,AST,FG,O_Index,D_Index,Overall_Index
5727,886.0,81.0,C,82.0,Kareem Abdul-Jabbar*,1980.0,2034.0,280.0,LAL,371.0,835.0,0,0,0
5728,191.0,35.0,PF,67.0,Tom Abernethy,1980.0,362.0,12.0,GSW,87.0,153.0,0,0,0
5729,609.0,108.0,C,75.0,Alvan Adams,1980.0,1118.0,55.0,PHO,322.0,465.0,0,0,0
5730,197.0,106.0,PG,80.0,Tiny Archibald*,1980.0,1131.0,10.0,BOS,671.0,383.0,0,0,0
5731,115.0,12.0,C,26.0,Dennis Awtrey,1980.0,86.0,15.0,CHI,40.0,27.0,0,0,0

In [9]:
#O_index = df_2010.


#(TRB * Value_TRB)+(BLK * Value_BLK)+(STL * Value_STL)

#for loop through data frame using itterows and run formulas against the values

for index, row in df_2010.iterrows():
    
    clear_output(wait=True)

    # get stats numbers from df
    #rebound_count = row['TRB']
    #block_count = row['BLK']
    #steal_count = row['STL']
    #game_count = row['G']
    
    defensive_value = ((.4 * row['TRB'])+(.3 * row['BLK'])+(.3 * row['STL']))/row['G']
    offensive_value = ((.1 * row["FG"])+(.2 * row["AST"])+(.7 * row["PTS"]))/row['G']
    
    overall_value = defensive_value + offensive_value
    
    Points_pg = row['PTS']/row['G']
    AST_PG = row['AST']/row['G']
    RP_G = row['TRB']/row['G']
    BLK_PG = row['BLK']/row['G']
    STL_PG = row['STL']/row['G']
    FG_PG = row['FG']/row['G']
    
    
    df_2010.loc[index, 'O_Index'] = offensive_value
    df_2010.loc[index, 'D_Index'] = defensive_value
    df_2010.loc[index, 'Overall_Index'] = overall_value
    df_2010.loc[index, 'PPG'] = Points_pg
    df_2010.loc[index, 'ASTPG'] = AST_PG
    df_2010.loc[index, 'RPG'] = RP_G
    df_2010.loc[index, 'BLKPG'] = BLK_PG
    df_2010.loc[index, 'STLPG'] = STL_PG
    df_2010.loc[index, 'FGPG'] = FG_PG
    
    #this is just a progress bar- the for loop takes about 1 hour
    print("current progress:", np.round(index/len(df_2010) *100, 2), "%")
    
    
    #df_2010.loc[index, 'Overall_Index'] = results_lng
 #view data frame   
df_2010.head(10)

current progress: 139.04 %

,TRB,STL,Pos,G,Player,Year,PTS,BLK,Tm,AST,FG,O_Index,D_Index,Overall_Index,PPG,ASTPG,RPG,BLKPG,STLPG,FGPG
5727,886.0,81.0,C,82.0,Kareem Abdul-Jabbar*,1980.0,2034.0,280.0,LAL,371.0,835.0,19.286585,5.642683,24.929268,24.804878,4.524390,10.804878,3.414634,0.987805,10.182927
5728,191.0,35.0,PF,67.0,Tom Abernethy,1980.0,362.0,12.0,GSW,87.0,153.0,4.270149,1.350746,5.620896,5.402985,1.298507,2.850746,0.179104,0.522388,2.283582
5729,609.0,108.0,C,75.0,Alvan Adams,1980.0,1118.0,55.0,PHO,322.0,465.0,11.913333,3.900000,15.813333,14.906667,4.293333,8.120000,0.733333,1.440000,6.200000
5730,197.0,106.0,PG,80.0,Tiny Archibald*,1980.0,1131.0,10.0,BOS,671.0,383.0,12.052500,1.420000,13.472500,14.137500,8.387500,2.462500,0.125000,1.325000,4.787500
5731,115.0,12.0,C,26.0,Dennis Awtrey,1980.0,86.0,15.0,CHI,40.0,27.0,2.726923,2.080769,4.807692,3.307692,1.538462,4.423077,0.576923,0.461538,1.038462
5732,28.0,7.0,SG,20.0,Gus Bailey,1980.0,38.0,4.0,WSB,26.0,16.0,1.670000,0.725000,2.395000,1.900000,1.300000,1.400000,0.200000,0.350000,0.800000
5733,197.0,21.0,PF,67.0,James Bailey,1980.0,312.0,54.0,SEA,28.0,122.0,3.525373,1.511940,5.037313,4.656716,0.417910,2.940299,0.805970,0.313433,1.820896
5734,638.0,90.0,SF,82.0,Greg Ballard,1980.0,1277.0,36.0,WSB,159.0,545.0,11.953659,3.573171,15.526829,15.573171,1.939024,7.780488,0.439024,1.097561,6.646341
5735,456.0,85.0,SF,77.0,Mike Bantom,1980.0,908.0,49.0,IND,279.0,384.0,9.477922,2.890909,12.368831,11.792208,3.623377,5.922078,0.636364,1.103896,4.987013
5736,77.0,5.0,PF,20.0,Marvin Barnes,1980.0,64.0,12.0,SDC,18.0,24.0,2.540000,1.795000,4.335000,3.200000,0.900000,3.850000,0.600000,0.250000,1.200000

In [ ]:
#write new data frame to csv
df_2010.to_csv('team-data.csv')